body {
    font-family: 'Poppins', sans-serif;
}

/*header*/
.homeHeader {
    background-image: url(images-icons/building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.faqHeader {
    background-image: url(images-icons/FAQ/headerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.pricingHeader {
    background-image: url(images-icons/Pricing/headerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.text-header {
    color: white;
    width: 42%;
}
@media all and (max-width: 992px) {
    .text-header {
        color: white;
        width: 100%;
    }
}

h1 {
    font-size: 40pt;
}

.btn-link-secondary {
    color: #E67112;
    text-decoration: none;
}
.btn-link-secondary:hover {
    color: #be5311;
}

.darken {
    background-color: rgba(19,45,63,0.4);
    height: 100vh;
}

.gradient {
    background: linear-gradient(to bottom, rgba(255, 99, 71, 0), #132D3F);
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0px;
}

.down-arrow {
    display: block;
    position:absolute;
    bottom: 30px;
}

.horizontal-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.horizontal-center-line {
    left: 48.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  
#hex-header-oben {
    height: 250px;
    width: 250px;
    object-fit: contain;
    position: absolute;
    left: 45%;
    top: 0px;
}
@media all and (max-width: 992px) {
    #hex-header-oben {
        height: 150px;
        width: 150px;
        object-fit: contain;
        position: absolute;
        left: 45%;
        top: 0px;
    }
}

#hex-header-unten {
    height: 450px;
    width: 450px;
    object-fit: contain;
    position: absolute;
    bottom: -160px;
    right: 0px;
}
@media all and (max-width: 992px) {
    #hex-header-unten {
        height: 150px;
        width: 150px;
        object-fit: contain;
        position: absolute;
        right: 0px;
        bottom: -50px;
    }
}

a .nav-link:hover {
    color: gray;
}

.btn-primary {
    background-color: #E67112;
    color: white;
    border-style: none;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-primary:hover {
    background-color: #be5311;
}

/*navbar*/
.pm-logo {
    height: 50px;
    width: 150px;
    object-fit: contain;    
}

.nav-Link { 
    color: #132D3F;
    vertical-align: sub;
    text-decoration: none;
    margin: 20px;
    margin-left: 0px;
}
.nav-Link:hover {
    color: #0EA7BF;
}

.active-nav {
    color: #0EA7BF;
}

.btn-signUp {
    background-color: #E67112;
    color: white;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
}
.btn-signUp:hover {
    background-color: #be5311;
    color: white;
}

.btn-link {
    color: #707070;
    text-decoration: none;
}
.btn-link:hover {
    color: #353535;
}

/*flavour block*/
.flavour-block {
    background-color: #132D3F;
    color: white;
}

.faq-icon {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

/*card*/
.card-width {
    width: 400px;
}

.card-height {
    height: 400px;
}

.border-radius {
    border-radius: 30px;
}

#hex-cards-oben {
    height: 200px;
    width: 200px;
    object-fit: contain;
    position: absolute;
    left: -40px;
    bottom: -485px;
}
@media all and (max-width: 576px) {
    #hex-cards-oben {
        height: 100px;
        width: 100px;
        object-fit: contain;
        position: absolute;
        left: -20px;
        bottom: -500px;
    }
}

#hex-cards-unten {
    height: 150px;
    width: 150px;
    object-fit: contain;
    position: absolute;
    right: 40px;
    bottom: -900px;
}
@media all and (max-width: 576px) {
    #hex-cards-unten {
        height: 150px;
        width: 150px;
        object-fit: contain;
        position: absolute;
        right: 40px;
        bottom: -980px;
    }
}

/*texte*/
.desk {
    height: 250px;
    width: 250px;
    object-fit: cover; 
}

/**/
.orangeBG {
    background-color: #E67112;
    color:white;
}

.darkBG {
    background-color: #132D3F;
    color: white;
}

.turqoiseBG {
    background-color: #0EA7BF;
    color: white;
}

/*FAQ*/
/*häufigste fragen*/


.faq-hex {
    height: 200px;
    width: 200px;
    object-fit: contain;
    position: absolute;
    left: -30px;
    top: 1285px;
}

@media all and (max-width: 1650px) {
    .faq-hex {
        height: 100px;
        width: 100px;
        object-fit: contain;
        position: absolute;
        left: -30px;
        top: 1260px;
    }
}
@media all and (max-width: 700px) {
    .faq-hex {
        height: 70px;
        width: 70px;
        object-fit: contain;
        position: absolute;
        left: -15px;
        top: 1460px;
    }
}
@media all and (max-width: 560px) {
    .faq-hex {
        height: 70px;
        width: 70px;
        object-fit: contain;
        position: absolute;
        left: -15px;
        top: 1560px;
    }
}

.btn-link-tertiary {
    color: #0EA7BF;
    text-decoration: none;
}
.btn-link-tertiary:hover {
    color: #0d8ea2;
}

.btn-accordion {
    background-color: #cfd5db;
    border-radius: 15px;
    font-size: 1.5rem;
}
.btn-accordion:after {
    content: '\2212';
    float: right;
    color: #0EA7BF;
}
.btn-accordion.collapsed:after {
    content: '\002B';
}

/*
.btn-accordion.collapsed {
    border-radius: 0px;
    color: deeppink;
}*/

.card-body {
    border-style: none;
    background-color: #cfd5db;
    border-radius: 0px 0px 15px 15px;

    padding-top: 30px;
    position: relative;
    bottom: 15px;
    z-index: -1;
}

.adress-icon {
    height: 20px;
    width: 20px;
    object-fit: contain; 
}

.adresse {
    margin-left: 37px;
}

.faq-form {
    background-color: transparent;
    border-color: white;
}

.my-form-control {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

/*pricing*/
.price-card {
    padding: 20px;
    width: 280px;
    height: 330px;
    margin: 15px;
}

.price {
    font-size: 80px;
    text-align: center;
    color:#0EA7BF;
}

.month {
    font-size: 35px;
    text-align: center;
    color:#0EA7BF;
}

.badge-dark {
    height: 40px;
    width: 160px;
    background-color: #132D3F;
}

.badge-light {
    height: 30px;
    width: 80px;
    background: white;
    left: 48.2%;
}

.price-hex {
    position: absolute;
    right: 0px;
    top: 262px;
    object-fit: contain;
    width: 250px;
}

/*footer*/
/*start tracking*/
.start-tracking {
    background-color: #E67112;
    color: white;
}

#hex-start-tracking {
    height: 50px;
    width: 50px;
    object-fit: contain;
    position: relative;
    bottom: 8px;
}

.btn-secondary {
    background-color: white;
    color: #E67112;
    border-style: none;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-secondary:hover {
    background-color: #fff6ee;
    color: #E67112;
}

/*partners*/
.img-partner {
    height: 40px;
    width: 160px;
    object-fit: contain;
}

/*certifications*/
.img-cert {
    height: 80px;
    width: 100px;
    object-fit: contain;
}

.light-blue {
    color: #0EA7BF;
    text-decoration: none;
}
.light-blue:hover {
    color: #0d8ea2;
    text-decoration: none;
}

.img_arrow {
    height: 15px;
    width: 20px;
    object-fit: contain;
}

/*impressum*/
.star {
    height: px;
    width: 20px;
    object-fit: contain;
}

/*form*/
.my-form {
    background-color: transparent;
    width: 320px;
    height: 36px;
}

.btn-tertiary {
    background-color: #0EA7BF;
    color: white;
    border-style: none;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-tertiary:hover {
    background-color: #0d8ea2;
    color: white;
}
.btn-position {
    position: relative;
    bottom: 36px;
    left: 300px;
}
@media all and (max-width: 576px) {
    .btn-tertiary {
        background-color: #0EA7BF;
        color: white;
        border-style: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*social media*/
.social-media-logo {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

/*map*/
.map {
    height: 350px;
    width: 350px;
    object-fit: contain;
}