/*header*/
.myHeader {
    background-color:lightsteelblue;
    height: 100vh;
}

/*navbar*/
#logo {
    height: 50px;
    width: 80px;
    object-fit: cover;    
}

a .nav-link { 
    color: #132D3F; /*geht nicht*/
}
a .nav-link:hover {
    color: gray;
}

.btn-primary {
    background-color: #E67112;
    color: white;
    border-style: none;
}
.btn-primary:hover {
    background-color: #be5311;
}

.btn-link {
    color: #707070;
    text-decoration: none;
}
.btn-link:hover {
    color: #353535;
}

/*flavour block*/
.flavour-block {
    background-color: #132D3F;
    color: white;
}

/*card*/
.card-with {
    width: 400px; /*nicht benutzt*/
}

.card-shadow {
  box-shadow: 0px 0px 10px 5px #132d3f13;
}

.desk {
    height: 200px;
    width: 200px;
    object-fit: cover; 
}

/**/
.orangeBG {
    background-color: #E67112;
    color:white;
}

.darkBG {
    background-color: #132D3F;
    color: white;
}

/*footer*/
/*start tracking*/
.start-tracking {
    background-color: #E67112;
    color: white;
}

.btn-secondary {
    background-color: white;
    color: #E67112;
    border-style: none;
}
.btn-secondary:hover {
    background-color: #fff6ee;
    color: #E67112;
}