@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(Poppins/Poppins-Bold.ttf);
}

body {
  margin: 0px;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;
  color: #132D3F;
  font-size: 1.5rem;
}

h1 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 4rem;
  margin-bottom: 0px;
  color: white;
}

h2 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 2.8rem;
  text-align: center;
}

h3 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  margin-top: 0px;
}

nav a {
  font-size: 1.5rem;
}

li a:hover {
  color: grey;
}

.active {
  color: #0EA7BF;
}

.header {
    display: flex;
    background-image: url(images-icons/building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
  }

.darken {
  background-color: rgba(19,45,63,0.5);
}

.text_header {
  width: 45%;
  margin-left: 10%;
  margin-top: 7%;
}

.text_header p {
  color: white;
}

#header_button {
  margin-left: 25%
}

.gradient {
  background: linear-gradient(to bottom, rgba(255, 99, 71, 0), #132D3F);
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0px;
}

@media all and (max-width: 1000px) {
  .text_header {
    width: 100%;
    padding-left: 100px;
    padding-top: 30px;
  }
}

  .roundButton {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: #E67112;
  }

  .signUpButton {
    display: inline-block;
    text-align: center;
    background-color: #E67112;
    margin-right: 60px;
  }

  .button_link {
    display:block;
    font-size: 1.88rem;
    font-weight: bold;
    color: white;
    padding: 20px 56px;
  }


.sign_up {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 5px 28px;
}

  .sign_up:hover{
    background-color: #e66012;
    color: white;
  }

  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: 0px;
    height: 90px;
    z-index: 1;
  }

  .logo{
    margin: 0;
    display:flex;
    height: 50px;
    width: 280px;
    object-fit: cover;
  }

  .nav_list {
    background-color: white;
    list-style: none;
    display:flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    box-shadow: 0px 4px 6px #132d3f13;
  }

  .nav_list li {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .nav_list li:last-child {
    margin-left: auto;
    margin-right: 3%;
  }

  li a {
    text-decoration: none;
    color: #132D3F;
  }

.flavour_block {
  background-color: #132D3F;
  max-height: 43,3%;
  padding-top: 12vh;
  padding-bottom: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  color: white;
  text-align: center;
}

.content {
  margin:1%
}

#cards {
  display:flex;
  margin:auto;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#cards div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
  width: 484px;
  height: 588px;
  padding-top: 50px;
  padding-left: 62px;
  padding-right: 62px;
  box-shadow: 0px 0px 10px 5px #132d3f13;
  border-radius: 45px;
  margin: 2%;
  line-height: 34px;
  overflow-y:initial;
}

#cards div p{
  font-size: 1.75rem;
}

#logLink {
  text-decoration: none;
  color: grey;
}

img {
  display: flex;
  width: 380px;
  height: 380px;
  object-fit: cover;
  margin: 50px;
}

.right {
  display: flex;
  /*max-width: 1240px;
  margin: auto;*/
  text-align: left;

  /*display:flex;
  justify-content: space-between;*/
}

.right div h3 {
  text-align: left;
}

.left {
  display: block;
  float: left;
  /*max-width: 1240px;
  margin: auto;*/
  text-align: right;

  /*display:flex;
  justify-content: space-between;*/
}

.left img {
  display: block;
  float: right;
}

.left div h3 {
  text-align: right;
}

.left_right {
  margin-left: 15%;
  margin-right: 15%;
}

.flex_container_column {
  display: flex;
  flex-direction: column;
}

.flex_container_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* verschiebt ganz viel
  margin-top: 3.5vw;
  margin-bottom: 5vw;*/
}

.container_certifications {
  display: flex;
  flex-direction: row;
  margin-top: 3.5vw;
  margin-bottom: 5vw;
  margin-left: 7%;
  margin-right: 7%;
  xxbackground-color: aqua;
}

.container_certifications div {
  xxbackground-color: chartreuse;
}

.start_tracking {
  background-color: #E67112;
  color: white;
  height: 414px;
}

#vertical {
  margin-top: 6%;
}

.start_tracking .button {
  background-color: white;
  font-family: Poppins-Bold, sans-serif;
  color:#E67112;
  padding: 10px 40px;
  border-radius: 0px;
  font-weight: bold;
}

#horizontal div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.img_partner { 
  display: flex;
  width: 150px;
  height: 35px;
  object-fit: cover;
  margin: 20px;
  margin-left: 0px;
  margin-bottom: 103px;
  xxmargin-top: 10px;
}

.partners a {
  display: flex;
}

.img_arrow {
  display: flex;
  width: 30px;
  height: 20px;
  object-fit: cover;
  margin: 0px;
  margin-left: 15px;
  margin-top: 10px;
}

.img_cert { 
  display: flex;
  width: 117px;
  height: 117px;
  object-fit: cover;
  margin: 20px;
  margin-left: 0px;
}

.flex_images {
  display: flex;
  flex-direction: row;
  margin:0;
  /*background-color: darkolivegreen;*/
}

.partners {
  xxmargin-left: 10%;
  xxmargin-right: 10%;
  margin-bottom: 100px;
  xxbackground-color: coral;
}

.divider {
  margin-top: 60px;
  margin-bottom: 60px;
}

hr {
  /*macht nichts*/
  stroke: 1px solid grey;
}

.container_certifications h3 {
  text-align: left;
  margin-bottom: 0;
  /*background-color: aqua;*/
}

.partners a {
  color: #0EA7BF;
}

.star_list {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 50px;
}

#rating {
  margin-top: 8px;
  margin-left: 10px;
}

.star {
  display: block;
  padding: 0px;
  margin: 5px;
  xxbackground-color:darkblue;
}

.star img {
  display: flex;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.social_media_logo {
  display: flex;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.map {
  display: flex;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 50px;
  margin-top: 0px;
  display: block;
  float: right;
}

.impressum {
  font-size: 1.125rem;
  color: white;
  background-color: #132D3F;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
  display: block;
  height: 530px;
}

.impressum_block {
  width: 70%;
}

.footer {
  margin: 0px;
  padding: 0px;
}

.subscribe_feld {
  display:flex;
  flex-direction: row;
  width: 700px;
}

.subscribe_button {
  display:flex;
  background-color:#0EA7BF;
  border-radius: 3px;
  padding: 12px;
  padding-left: 70px;
  padding-right: 70px;
  height: 30px;
  position: relative;
  right: 10px;
  margin-top: 20px;
  height: 45px;
  align-items: 	center;
}

label {
  font-size: 1.5rem;
}

input {
  background-color:#132D3F;
  color: white;
  width: 420px;
  height: 45px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.125rem;
}

.copyright_divider {
  margin-left: 30px;
  margin-right: 30px;
}

.horizontal_line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.call_mail {
  margin-left: 100px;
}