@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(Poppins/Poppins-Bold.ttf);
}

body {
  margin: 0px;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;
  color: #132D3F
}

h1 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 65px;
}

h2 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 45px;
  text-align: center;
}

h3 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 24px;
}

nav > a {
  font-size: 24px;
}

.header {
    background-image: url(building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
  }

  .text_header {
    width: 50%;
    padding-left: 100px;
    padding-top: 30px;
  }

  .button {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: #E67112;
  }

  .button_link {
    display:block;
    font-size: 30pt;
    font-weight: bold;
    color: white;
    padding: 20px 56px;
  }

  .sign_up {
    display:block;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding: 5px 28px;
  }

  .nav_list {
    background-color: white;
    display:flex;
    font-size: 24pt;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
  }

  .nav_item {
    list-style: none;
  }

  .flavour_block {
    background-color: #132D3F;
    max-height: 43,3%;
    padding-top: 12vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    color: white;
    text-align: center;
  }

  .content {
    margin:1%
  }

  #cards {
    display:flex;
    margin:auto;
    font-size: 24px;
    justify-content: center;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #cards div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    width: 484px;
    height: 588px;
    padding-top: 50px;
    padding-left: 62px;
    padding-right: 62px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 45px;
    margin: 2%;
    line-height: 34px;
    overflow-y:initial;
  }

  #cards div p{
    font-size: 28px;
  }

  .right {
    max-width: 1240px;
    margin: auto;
    text-align: left;

    /*display:flex;
    justify-content: space-between;*/
  }

  .left {
    max-width: 1240px;
    margin: auto;
    text-align: right;

    /*display:flex;
    justify-content: space-between;*/
  }

  .start_tracking {
    background-color: orange;
    height: 100px;
  }